import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df=pd.read_csv("C:/datasets/netflix_titles.csv")
df
print(df.isnull().sum())
df.info
df.drop_duplicates(inplace=True)
df
df['director'].fillna('Unknown',inplace=True)
cols=['director','cast','country','rating','description']
for col in cols:
    df[col].fillna('Unknown',inplace=True)
df['release_year'].fillna(df['release_year'].median(),inplace=True)
df['date_added'].fillna('01-01-1900', inplace=True)
rating_mapping={
    'pg-13':'PG-13',
    'pg':'PG',
    'tv-ma':'TV-MA',
    'tv-pg':'TV-PG',
    'r':'R',
    'g':'G'
}
df['rating']=df['rating'].str.lower().map(rating_mapping).fillna(df['rating'])
df['type']=df['type'].str.lower().replace({'tv show':'TV Show','movie':'Movie'})
df.rename(columns={
    'cast':'actors',
    'listed_in':'genre'
},inplace=True)
df['date_added']=pd.to_datetime(df['date_added'],errors='coerce')
df['release_year']=df['release_year'].astype(int)
print(df.dtypes)
df
